<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.talent.mapper.SysTalentIndustryMapper">

    <resultMap type="SysTalentIndustry" id="SysTalentIndustryResult">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="parentId" column="parent_id"/>
        <result property="type" column="type"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectSysTalentIndustryVo">
        select id,
               name,
               parent_id,
               type,
               create_by,
               create_time,
               update_by,
               update_time,
               remark
        from sys_talent_industry
    </sql>

    <select id="selectSysTalentIndustryList" parameterType="com.ruoyi.talent.domain.SysTalentIndustry" resultMap="SysTalentIndustryResult">
        <include refid="selectSysTalentIndustryVo"/>
        <where>
        </where>
    </select>

    <select id="selectSysTalentIndustryById" parameterType="Long" resultMap="SysTalentIndustryResult">
        <include refid="selectSysTalentIndustryVo"/>
        where id = #{id}
    </select>

    <insert id="insertSysTalentIndustry" parameterType="com.ruoyi.talent.domain.SysTalentIndustry" useGeneratedKeys="true" keyProperty="id">
        insert into sys_talent_industry
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="parentId != null">parent_id,</if>
            <if test="type != null">type,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="parentId != null">#{parentId},</if>
            <if test="type != null">#{type},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateSysTalentIndustry" parameterType="com.ruoyi.talent.domain.SysTalentIndustry">
        update sys_talent_industry
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="type != null">type = #{type},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysTalentIndustryById" parameterType="Long">
        delete
        from sys_talent_industry
        where id = #{id}
    </delete>

    <delete id="deleteSysTalentIndustryByIds" parameterType="String">
        delete from sys_talent_industry where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>